
#headerText{

  color:white;
}

#titrage{
  
    width: 400px;
    background-color: #ffffff;
}

#navBarre{
    width: 100%;
    background-color: #ffffff;
    background-image: url(../images/header.png); 
    background-repeat: no-repeat;  
}

/* Police titrage   */


.fondCompetences h1 {

    text-decoration:underline
}


p{
    font-size: 18px;
    color: black;  
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif 	;
}

h1{
    text-decoration:underline;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif 	;
    font: bold;
}



/* Images de fond  et logo */


.menu {

    width: 100%;
    height: 80%;
}
.espace {

    width: 100%;
    height: 100px;
}

#logo {

    width: 50px;
    height: 50px;

}
.bienvenue  {
    background-image:url(../images/accueil.png);
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 97%;
    }
    

.fondCompetences {

    background-image:url(../images/connaitre.png);
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 97%;
}
.monParcours {

   background-image:url(../images/competences.png);
   position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 97%;

}
.monCv {

    background-color: rgb(134, 176, 218);
}

/*TEST ANIM*/
.nav-link {
    vertical-align:middle;
    }
    .nav-link h2 {
    color:#000000;
    text-decoration:none;
    font-size: 25px;
    margin-left: 12px;
    margin-right: 12px;
    }
    
    .nav-link h2:hover {
    border-bottom: 2px solid;
    border-color: #000000;
    
    }


    .fleche:hover {
        width: 90px;
        height: 90px;
        
        }


    .flecheMenu{
        margin-top: 425px;
    }
    .flecheMenuAnim:hover {
        width: 120px;
        height: 120px;
        
        }


    /*Cartes*/

    .card .card-img-top {

         height: 100px;
         width: 100%; 
         display: block;
    }



    /*test*/



      
      